h1 {
	border: 1px solid dodgerblue;
}

nav ul{
	display: inline-block;
	list-style-type: none;
}

.disabled{
	color: gray;
}

.active{
	color: yellow;
}

.parent div:nth-child(1) {	
	color: red;
}

.parent div:nth-child(3) {
	color: blue;
}
.parent h4:nth-child(1){
	background-color: red;
}
.parent h4:nth-child(2){
	background-color: blue;
	}

.grandparent h4:nth-child(1n) {
	border: 1px solid black;
	border-radius: 20%;
}

.promo{
	font-weight: bold;
	color: gold;
}

footer > input[type="text"]{
	font-height: 25px;
}